html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div {
  width: 100%;
  padding: 100px;
}

.one {
  background: rgba(1, 112, 247, 0.8);
}

.two {
  background: rgba(30, 249, 176, 0.8);
}

.three {
  background: rgba(252, 1, 47, 0.8);
}
